body {
    background-color: #61a146;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1 {
    color: #333366;
}

#entrada {
    color: #333333;
    border: solid #333333;
}

#btn {
    border: 0;
    background-color: #3d692c;
    color: white;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
}
